
body{
 margin:0;
 font-family:Arial;
 background:#E3A200;
}
.bg{
 position:fixed;
 top:0;left:0;right:0;bottom:0;
 background:url('bg.png') center/60% no-repeat;
 opacity:0.18;
}
.home{
 text-align:center;
 margin-top:80px;
}
.title{
 font-size:60px;
 font-weight:900;
}
.mint-btn{
 padding:18px 50px;
 background:#ffcc33;
 border:none;
 border-radius:16px;
 font-size:26px;
 font-weight:bold;
 margin-top:40px;
}

.mint-container{
 position:relative;
 z-index:2;
 max-width:600px;
 margin:80px auto;
 background:rgba(0,0,0,0.45);
 padding:40px;
 border-radius:20px;
 color:white;
 text-align:center;
}

.mint-title{
 font-size:45px;
 font-weight:900;
 margin-bottom:20px;
}

.price{
 font-size:20px;
}

.address-box{
 margin:20px auto;
 padding:15px;
 background:#00000066;
 border-radius:10px;
 font-size:18px;
 word-break:break-all;
}

.steps p{
 margin:10px 0;
 font-size:16px;
}

.back-btn{
 margin-top:30px;
 background:#ffcc33;
 border:none;
 padding:12px 30px;
 border-radius:12px;
 font-size:20px;
 font-weight:bold;
}
