@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{font-family:'Inter',sans-serif!important;letter-spacing:0.3px;-webkit-font-smoothing:antialiased;}
body{color:#f4e7c4;}